#answer_area_phase_II {
    width: 100%;
    margin-top: 30px;
}

#pictures_container {
    /* display: flex; */
    display: none;
    justify-content: center;
}

.picture_phase_II {
    width: 250px;
    height: 250px;
    background-color: #ccc;
    margin: 0 30px;
}

#options_container {
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-top: auto;
    justify-content: space-between;
    margin-top: 110px;
    width: 464px;
    padding: 15px;
    border: 5px dashed lightgray
}

.option-button {
    border: 2px solid black;
    font-size: 18px;
    border-radius: 10px;
    width: 100px;
    position: relative;
    height: 50px;
    cursor: pointer;
    margin: 0px 30px;
}

.option-button.selected {
    background-color: grey;
}

.option-button:hover {
    scale: 1.1;
}

.option-button:disabled {
    cursor: not-allowed;
}

.submit-button {
    margin-top: 30px;
    padding: 10px 20px;
    cursor: pointer;
}

.submit-button:disabled {
    cursor: not-allowed;
}

#buttons_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.enter-next-button {
    width: 175px;
    height: 50px;
    cursor: pointer;
    margin-top: 0px;
}

.bubble_down {
    width: 80px;
    border: 3px solid black;
    padding: 10px;
    text-align: center;
    color: black;
    position: absolute;
    top: 110px;
    left: 60px;
    border-radius: 20px;
    animation: 0.3s linear popup;
    background-color: lightgrey;
  }

.bubble_down::before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 9px solid black;
    border-right: 9px solid transparent;
    border-top: 9px solid transparent;
    border-bottom: 9px solid black;
    right: 66px;
    top: -20px;
}

.bubble_down::after {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid lightgrey;
    border-right: 10px solid transparent;
    border-top: 10px solid transparent;
    border-bottom: 10px solid lightgrey;
    right: 61px;
    top: -13px;
}

#left_part_phase_II {
    width: calc(40%);
    left: 0;
    border-right: 3px solid lightgrey;
    min-height: 100%;
    height: min-content;
}

#right_part_phase_II {
    width: calc(60%);
    right: 0;
}

#left_content_phase_II {
    /* height: 100%; */
    padding: 4% 50px 0px 50px;
    text-align: center;
}

#right_content_phase_II {
    /* height: 100%; */
    padding: 0px 50px 0px 50px;
    text-align: center;
}

#identity_wrap_phase_II {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#identity_wrap_phase_II > .profile_with_labels {
    width: 80%;
    margin: 0px auto 50px auto;
}


.profile-in-option {
    scale: 0.5;
    position: absolute;
    width: 250px;
    top: -145px;
    left: -47px;
    border: 0px;
    border-radius: 10px;
    aspect-ratio: 5 / 3;
    max-width: 250px;
    padding: 0px
}

.option-with-profile {
    position: relative;
}

.arrow-down {
    position: absolute;
    top: -33px;
    left: 50%;
    width: 0;
    height: 0;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top: 13px solid black;
    transform: translateX(-50%);
}

#instruction_right_phase_II {
    margin-top: 4%;
    min-height: 35px;
    font-size: 18px;
    padding: 15px 30px 15px 30px;
    text-align: center;
    line-height: 25px;
    display: flex;
    align-items: center;
    justify-content: center
}